.footer {
    background: $black-color;
    color: $white-color;
    width: 100%;
    clear: both;
    display: block;
    font-size: 12px;
    padding: 44px 100px;
    &__column-title {
        text-transform: uppercase;
        margin-top: 0px;
        padding-bottom: 30px;
    }
    &__first-column {
        display: block;
        margin-right: 120px;
        width: 300px;
        min-height: 170px;
        &-social {
            margin-bottom: 10px;
        }
        &-title {
            text-transform: uppercase;
            margin-top: 0px;
            padding-bottom: 24px;
        }
        a {
            color: $white-color;
            .fab {
                font-size: 20px;
            }
        }
    }

    &__column {
        width: 150px; 
        margin-right: 120px;
        a {
            color: $white-color;
            opacity: 0.5
        }
    }

    &__last-column {
        
        width: 150px;
        a {
        color: $white-color;
        opacity: 0.5
        }
    }
    &__copyright {
        color: $white-color;
        opacity: 0.3;
        margin-top: 50px;
    }
}

.footer__first-column,
.footer__column,
.footer__last-column {
    display: inline-block;
    li {
        margin-bottom: 20px;
    }
}

.network {
    display: inline-block;
    margin-right: 5px;
}

.btn {
    display: inline-block;
    padding: 1px 10px 0px 6px;
    margin-bottom: 0px;
    height: 45px;
    width: 45px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $white-color;
    background-color: $blue-light-color;
    cursor: pointer;
    border-radius: 0px 6px 6px 0px;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  
.btn:hover,
.btn:focus {
    color: $gray-light-color;
    text-decoration: none;
}
  
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
}
  
.btn-default {
    color: $white-color;
    background-color: $blue-light-color;
    border-color: none;
}
  
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    color: $white-color;
    background-color: $blue-color;
    border-color: none;
}
  
.btn-default:active,
.btn-default.active {
    background-image: none;
}

.email {
    display: flex;
}
.emailadress {
    flex: 1;
    height: 45px;
    width: 200px;
    padding-left: 10px;
    color: $black-color;
    border: none;
    border-radius: 6px 0px 0px 6px;
}