.submenu {
    cursor: pointer;
    border: none;
    color: $black-color;
   
    &-dropdown {
        position: relative;
        display: inline-block;
        &-child {
            display: none;
            background-color: $white-color;
            min-width: 200px;
            div {
                display: inline-block;
            }
        }        
    }
}

.submenu:hover .dropdown .dropdown-child {
    display: block;
}